/*Background sticks to the screen*/
body{
    /*LINK: https://www.google.com/search?sca_esv=f7156635f6e9a261&rlz=1C1CHBF_enSG920SG920&sxsrf=AE3TifMgG94JoYfwYNk30nUBeZVGK_hT1A:1752071349542&q=music+production+studio+wallpaper&udm=2&fbs=AIIjpHxU7SXXniUZfeShr2fp4giZ1Y6MJ25_tmWITc7uy4KIeoJTKjrFjVxydQWqI2NcOha3O1YqG67F0QIhAOFN_ob1yXos5K_Qo9Tq-0cVPzex8akBC0YDCZ6Kdb3tXvKc6RFIhZ6v3hyM8cCODBzLMpebLyG_wEobHUmbBx7IbAcqlyOIAEPGkexCDHE5Ucw_PMq9CPq7nDgGza9yXmpe03QQmYXXxw&sa=X&ved=2ahUKEwiroKSz_q-OAxVx-DgGHZdxEgsQtKgLKAF6BAgPEAE&biw=1745&bih=828&dpr=1.1#vhid=KU88thsBbYhicM&vssid=mosaic*/
    background-image: url("./images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face{
    /*LINK: https://www.dafont.com/caviar-dreams.font*/
    font-family: "caviar-dreams";
    src: url(fonts/CaviarDreams.ttf)
}

/*All text has the caviar-dreams font*/
* {
    font-family: "caviar-dreams";
    color: white;
}

/*Body has an animation the fade in*/
body{
    margin: 40px;
    border-radius: 10px;
    animation: borderFadeAnim 1s;
    outline: 4px solid rgb(214, 214, 214);
}
/*Transparent to opaque*/
@keyframes borderFadeAnim{
    0%{outline: 4px solid rgb(214, 214, 214, 0)}
    100%{outline: 4px solid rgb(214, 214, 214, 1)}
}

/*These are */
#toggleMenuButtonsBtn{display:none;}
#toggleMenuButtonsBtnX{display:none;}
/*Classes that will be hidden inbetween breakpoints*/
.show-above-800{display:block;}
.show-below-800{display:none;}

/*Wholescreen covers the screen with semi-transparent black*/
#wholescreen-cover {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #000000a4;
}

/*Anything with this class becomes a flex container*/
.flexContainer {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}


/*Nav list is centered*/
nav ul {
    justify-self: center;
    padding-inline-start: 0px;
    list-style: none;
}
/*Move down and fade in*/
@keyframes navButtonList{
    0%{bottom: 100px;opacity: 0;}
    100%{bottom: 0px;opacity: 1;}
}
nav ul li {
    display: inline;
    position: relative;
    animation: navButtonList 1.2s;
}
/*Nav button properties*/
nav ul li button {
    font-size: 1.4vw;
    width: 9vw;
    height: 40px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.06s;
    transition: font-size 0.06s;
}
/*Hover animation, semi-transparent background, which makes it fade-in cuz of the animation*/
nav ul li button:hover{
    background-color: rgb(148,148,148, 0.3);
    font-size: 1.5vw;
}





/*Header has flex value of 3*/
header {
    flex: 3;
    height: 150px;
}
/*Move to right, fade in*/
@keyframes h1Move{
    0%{right: 800px;opacity: 0;}
    100%{right: 0px;opacity: 1;}
}
h1 {
    position: relative;
    font-family: "caviar-dreams";
    font-size: 4vw;
    justify-self: center;
    text-align: center;
    color: #EAEFEF;
    animation: h1Move 1.7s;
    top: -30px;
}
/*Fullscreen properties, fades in upon hovering*/
#btnFS {
    margin: 10px;
    background-image: url("images/fullscreen.png");
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 139, 0);
    border: none;
    transition: background-color 0.2s;
    border-radius: 2px;
}
#btnFS:hover {
    background-color: rgba(130, 130, 130, 0.596);
}
/*h3 from the sections*/
h3 {
    font-size: 30px;
}
/*Nav has a flex value of 5*/
nav {
    flex: 5;
    height: 150px;
}
/*Main covers whole width*/
main {
    flex: 100%;
}
/*Footer covers whole width*/
footer {
    margin: 15px;
    flex: 100%
}


/*Base properties for the talkpoints*/
.talkpoint {
    width: 60%;
    padding: 0.1px 20px 20px 20px;
    margin: 5%;
    outline: 4px solid rgb(214, 214, 214, 1);
    border-radius: 10px;
    background-color: rgba(50, 50, 50, 0.721);
    transition: width 0.6s;
}
@keyframes talkingLeftAppearAnim{
    0% {margin-left: 2000px;}
    100% {margin-left: 100px;}
}
/*Talkpoint to appear on the left*/
.talkpoint-left{
    margin-left: 100px;
    animation: talkingLeftAppearAnim 1s;
}
@keyframes talkpointRightAppearAnim{
    0% {margin-right: 2000px;}
    100% {margin-right: 100px;}
}
/*Talkpoint to appear on the right*/
.talkpoint-right{
    justify-self: right;
    margin-right: 100px;
    animation: talkpointRightAppearAnim 1s;
}
@keyframes talkpointCenterAppearAnim{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
/*Talkpoint to appear in the center*/
.talkpoint-center{
    opacity: 1;
    justify-self: center;
    animation: talkpointCenterAppearAnim 1s;
}
.talkpoint-center h3{
    text-align: center;
}


@keyframes talkingPointHomeAppearAnim{
    0% {margin-left: 200%;}
    100% {left: 0%;}
}
/*Talkpoint of the home page*/
#talkpoint-home{
    width: 80%;
    justify-self: center;
    left: 0%;
    animation: talkingPointHomeAppearAnim 1s;
    transition: width 0.6s;
}

@keyframes talkpointPianoAppearAnim{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/*Talkpoint of the piano minigame*/
#talkpoint-piano{
    width: 90%;
    opacity: 1;
    justify-self: center;
    animation: talkpointPianoAppearAnim 1s;
}





/*Talkpoint home has a custom header*/
#talkpoint-home h3 {
    background-color: transparent;
    outline: none;
    text-align: center;
    border-radius: 0px;
    font-size: 50px;
    width: 98%;
    margin: 20px 0px
}

/*Talkpoint article has special properties*/
#talkpoint-home article {
    text-align: center;
    font-size: 20px;
}

#talkpoint-home h4 {
    font-size: 30px;
}




@keyframes talkingPointQuizHeaderAppearAnim{
    0% {margin-left: 200%;}
    100% {left: 0%;}
}
/*Quiz header at the start of the quiz*/
#talkpoint-quiz-header{
    width: 80%;
    justify-self: center;
    left: 0%;
    animation: talkingPointQuizHeaderAppearAnim 1s;
    transition: width 0.6s;
}
#talkpoint-quiz-header:hover{
    width: 85%;
}
#talkpoint-quiz-header h3 {
    text-align: center;
    width: 98%;
}
#talkpoint-quiz-header article {
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
}


/*Talkpoint default h3 properties*/
.talkpoint h3 {
    background-color: rgba(93, 93, 93, 0.442);
    outline: 4px solid rgb(214, 214, 214, 1);
    border-radius: 10px;
    font-size: 30px;
    padding: 10px 10px;
}
.talkpoint article {
    background-color: rgba(93, 93, 93, 0.442);
    outline: 4px solid rgb(214, 214, 214, 1);
    border-radius: 10px;
    font-size: 17px;
    padding: 10px 10px;
}
.talkpoint article h4{
    font-size: 21px;
}
/*Default list item properties*/
li {
    font-size: 23px;
}


/*Music DAW logo container is jsutified to center*/
#music-daw-logos{
    padding: 10px;
    justify-self: center;
    justify-content: center;
}
/*Ableton logo is square but the rest have beveled square, so border radius is applied to bevel the corners*/
#ableton-logo{
    border-radius: 100px;
}

.sfx-button-container{
    justify-self: center;
}

/*SFX Buttons (may not just be fore sfx)*/
.sfx-button{
    color: white;
    border: 4px white solid;
    background-color: rgba(255, 255, 255, 0.14);
    font-size: 23px;
    border-radius: 95px;
    width: 190px;
    height: 190px;
    margin: 10px;
    transition: border-color 0.2s;
}
/*SFX Button numbered has a bunch of different colours*/
.sfx-button-1{
    border-color: rgb(206, 248, 255);
}
.sfx-button-1:hover {
    border-color: rgb(120, 178, 189);
}
.sfx-button-2{
    border-color: rgb(255, 232, 206);
}
.sfx-button-2:hover{
    border-color: rgb(148, 128, 105);
}
.sfx-button-3{
    border-color: rgb(255, 206, 253);
}
.sfx-button-3:hover{
    border-color: rgb(141, 102, 140);
}
.sfx-button-4{
    border-color: rgb(255, 206, 206);
}
.sfx-button-4:hover{
    border-color: rgb(121, 85, 85);
}
.sfx-button-5{
    border-color: rgb(206, 255, 210);
}
.sfx-button-5:hover{
    border-color: rgb(90, 124, 92);
}

/*Clicking the button has a rainbow animation*/
.sfx-button-click{
    animation: sfx-button-click-animation 1.8s;
}
@keyframes sfx-button-click-animation {
    0% {
        background-color: rgba(255, 255, 255, 0.14);
        width: 190px;
    }
    10% {
        background-color: rgba(240, 98, 55, 0.4);
        width: 215px;
    }
    20% {
        background-color: rgba(255, 130, 228, 0.4);
        width: 190px;
    }
    30% {
        background-color: rgba(130, 255, 172, 0.4);
        width: 210px;
    }
    40% {
        background-color: rgba(243, 255, 130, 0.4);
        width: 190px;
    }
    50% {
        background-color: rgba(147, 145, 255, 0.4);
        width: 205px;
    }
    60% {
        background-color: rgba(255, 68, 68, 0.4);
        width: 195px;
    }
    70% {
        background-color: rgba(68, 255, 68, 0.4);
        width: 200px;
    }
    80% {
        background-color: rgba(255, 68, 230, 0.4);
        width: 190px;
    }
    90% {
        background-color: rgba(219, 133, 35, 0.4);
        width: 195px;
    }
    100% {
        background-color: rgba(255, 255, 255, 0.14);
        width: 190px;
    }
}

/*quiz start button is pretty much the same*/
#quiz-start-button{
    justify-self: center;
    color: white;
    border: 4px white solid;
    background-color: rgba(255, 255, 255, 0.14);
    font-size: 23px;
    border-radius: 95px;
    width: 190px;
    height: 190px;
    transition: border-color 0.2s;
}
/*Container for radio options in the quiz*/
.radio-container {
    justify-content: space-around;
    outline: 5px white solid;
}
/*Quiz radio option*/
.quiz-radio {
    width: 30px;
    height: 30px;
    margin: 20px;
}
/*Radio option text is bigger than regular text*/
.quiz-radio-text {
    font-size: 30px;
}

/*Quiz input box stretches whole parent width*/
#quiz-textbox{
    width: 100%;
    height: 50px;
    font-size: 30px;
    color: black;
    text-align: center;
}

/*Results holder is invisible at first*/
#quiz-qn-holder{
    display: none;
}
#quiz-results-holder {
    display: none;
}
#quiz-results-holder section article {
    text-align: center;
}


/*Container of producers is ALMOST stretching full width and centered*/
#producers-container {
    border: 4px solid rgb(214, 214, 214, 1);
    justify-self: center;
    width: 90%;
    height: 250px;
}

/*CSS Sprites for producers*/
#edsheeran, #drake, #avicii, #taylorswift {
    background-image: url('images/producers-spritesheet.png');
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    margin-top: 50px;
    display: inline-block;
}
#edsheeran {
    background-position: 0px, 0px;
}
#drake {
    background-position: -150px, 0px;
}
#avicii {
    background-position: -300px, 0px;
}
#taylorswift {
    background-position: -450px, 0px;
}

/*Master piano box*/
#piano-box {
    justify-self: center;
    border: 4px solid rgb(214, 214, 214, 1);
    border-radius: 10px;
    width: 400px;
    height: 400px;
}
/*Playable piano note*/
.piano-note {
    position: relative;
    color: black;
    text-align: center;
    justify-self: center;
    background-color: white;
    font-size: 16px;
    width: 55px;
    height: 75px;
    margin: -3px;
    top: 320px;
    left: 11px;
    display: inline-block;
    transition: background-color 0.1s;
}
/*Hovering animation*/
.piano-note:hover {
    background-color: rgb(230, 230, 230);
}
/*Sharp piano notes*/
.piano-note-sharp{
    color: rgb(255, 255, 255);
    font-size: 15px;
    z-index: 1;
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 26px;
    height: 50px;
    display: inline-block;
    top: 245px;
    transition: background-color 0.1s;
}
/*Hovering animation*/
.piano-note-sharp:hover{
    background-color: rgb(75, 75, 75);
}



/*Piano play button to start the game*/
#piano-play-button {
    display: block;
    
    position: relative;
    top: 100px;
    justify-self: center;
}
/*Holds all playable piano notes*/
#note-holder {
    display: none;

    justify-self: center;
    border-radius: 10px;
    width: 400px;
    height: 400px;
}
/*Holds all falling piano notes*/
#target-note-holder {
    display: none;
    
    justify-self: center;
    position: relative;
    width: 400px;
    height: 400px;
}
/*Score for the piano notes that were scored*/
#piano-score {
    display: none;

    justify-self: center;
    text-align: center;
    border: 4px solid rgb(214, 214, 214, 1);
    border-radius: 10px;
    width: 340px;
    padding: 10px;
    font-size: 25px;
}




/*Sharp notes have custom positions*/
#piano-note-7{
    left: 50px;
}
#piano-note-8{
    left: 75px;
}
#piano-note-9{
    left: 150px;
}
#piano-note-10{
    left: 175px;
}
#piano-note-11{
    left: 200px;
}
#target-note-holder {
    justify-self: left;
    width: 0px;
    height: 0px;
}


/*Target falling note default position*/
.target-note{
    color: rgb(255, 255, 255);
    position: absolute;
    left: 0px;
    background-size: cover;
    text-align: center;
}





/*All images with this class has a responsive image*/
.responsive-img {
    max-width: 100%;
}
/*Page buttons holder is visible at first*/
#page-buttons {
    display: block;
}


/*BREAKPOINT: < 800px*/
@media (max-width:800px){
    /*body outline disappears*/
    body {
        outline: none;
        animation: none;
    }
    /*Breakpoint displays*/
    .show-above-800{display:none;}
    .show-below-800{display:block;}
    /* unhide menu icon */
    #toggleMenuButtonsBtn{display:block;} 
    


    /*Header font size is absolute*/
    h1 {
        text-align: center;
        font-size: 30px;
        top: 0px;
    }
    /*Talkpoint is now wider and justified to center*/
    .talkpoint {
        width: 80%;
        justify-self: center;
        margin: 5%;
        outline: 4px solid rgb(214, 214, 214, 1);
        border-radius: 10px;
        background-color: rgba(50, 50, 50, 0.721);
        transition: width 0.6s;
    }
    .talkpoint-left{
        width: 80%;
        justify-self: center;
        animation: none;
        opacity: 1;
    }
    .talkpoint-right{
        width: 80%;
        justify-self: center;
        animation: none;
        opacity: 1;
    }

    /*Header is slightly smaller*/
    #quiz-qn-holder section h3 {
        font-size: 23px;
    }
    #quiz-qn-holder section * {
        font-size: 18px;
    }

    /*Section headers are now aligned to the center*/
    h3{
        text-align: center;
    }

    /*Header now takes up a bigger width portion*/
    header {
        flex: 10;
    }
    /*Toggle menu Buttons button properties*/
    #toggleMenuButtonsBtn{
        margin-left: 45px;
        margin-top: 0px;
        background-color: #ffffff00;
        border: none;
    }
    /*Toggle menu Buttons button transparency animation*/
    #toggleMenuButtonsBtn img {
        background-color: transparent;
        transition: background-color 0.1s;
        border-radius: 6px;
    }
    #toggleMenuButtonsBtn img:hover {
        background-color: #b4b4b47a;
    }
    
    /*Toggle menu Buttons with an x that closes it*/
    #toggleMenuButtonsBtnX{
        justify-self: center;
        margin-top: 40px;
        background-color: #ffffff00;
        border: none;
        display: none;
    }
    #toggleMenuButtonsBtnX img {
        background-color: transparent;
        transition: background-color 0.1s;
        border-radius: 6px;
    }
    #toggleMenuButtonsBtnX img:hover {
        background-color: #b4b4b47a;
    }

    
    /*Nav is on top of everything*/
    nav {
        
        z-index: 4;
    }

    
    /*Page button button is now covering whole parent width*/
    #page-buttons li button {
        width: 100%;
        font-size: 20px;

    }

    /*Page button entry animation from right to left*/
    @keyframes page-buttons-entry{
        0% {right: -300px}
        100% {right: 0px}
    }

    /*Page buttons now has ddiffernt layout to the center-right*/
    #page-buttons{
        display:none;
        right: 0px;
        width: 240px;
        height: 100vh;
        background-color: rgba(33, 74, 107, 0.719);
        animation: none;
        position: fixed;
        margin-top: 0px;
        top: 0px;
        bottom: 0px;
        animation: page-buttons-entry 0.5s;
    }
    /*No more button animations*/
    #page-buttons ul li {
        animation: none;
    }

    #page-buttons ul li button {
        height: 55px;
    }

    
    /*to unhide menu items*/
    .menuShow{display:block;}

    #toggleMenuButtonsBtnX {
        display: block;
    }
}